span{
    display: inline-block;
}

.top{
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 0;
    padding-right: 32px;
    padding-left: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo{
    width: 180px;
    height: 48px;
    background: #FADD02 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #fff;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
}

.lang{
    width: 60px;
    height: 40px;
    background: #000000 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    opacity: 0.5;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-image: url('/assets/icons/1200px-Flag_of_the_Republic_of_China.svg@2x.png');
    background-size: cover;
}