<!--The content below is only a placeholder and can be replaced.-->
<app-top></app-top>
<router-outlet></router-outlet>
<footer>
  <div class="container h-100">
    <ul class="d-flex align-items-center h-100 m-0">
      <li class="mr-5">
        <img width="24" src="assets/icons/icons8-phone-100@2x.png">
        <span class="pl-3">02 - 12345678</span>
      </li>
      <li class="mr-5">
        <img width="24" src="assets/icons/icons8-secured-letter-100@2x.png">
        <span class="pl-3">fancymarble@hotel.com</span>
      </li>
      <li class="flex-grow-1">
        <img width="24" src="assets/icons/icons8-home-address-90@2x.png">
        <span class="pl-3">台北市沒這區沒這路111號</span>
      </li>
      <li class="mr-4">
        <img width="24" src="assets/icons/icons8-facebook-old-96@2x.png">
      </li>
      <li>
        <img width="24" src="assets/icons/icons8-instagram-100@2x.png">
      </li>
    </ul>
  </div>
</footer>
